body {
    font-family: 'Sarabun';
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-3;
}
@font-face {
    font-family: 'PixelifySans';
    src: local('PixelifySans'), url("../../fonts/PixelifySans-VariableFont_wght.ttf") format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: 'Sarabun';
    src: local('Sarabun'), url("../../fonts/Sarabun-Regular.ttf") format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}