// COLOURS
$color-primary: #404040; 
$color-secondary: #4d4d4d;
$color-tertiary: #666666;

$about-primary: #0081a7;
$projects-primary: #00afb9;
$work-primary: #fed9b7;
$contact-primary: #f07167;
$component-secondary: #f9f7f3;

$color-light-green: #f0fbee;
$color-light-red: #fbeef0;
$color-light-blue: #eef0fb;
$color-light-purple: #f9eefb;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONT
$default-font-size:1.6rem;

// SHADOWS
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
