.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.overview {
    width: 70%;
    height: 80vh;
    margin: 10vh 0 0 2rem;
    border: 4rem outset $color-blue;
    background-color: $color-grey-dark-3;
    color: white;
}