.content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 10;
    pointer-events: none;
    @include respond(tab-port) { 
        display: inline-block;
    }
}
.overview {
    width: 70%;
    height: 75vh;
    margin: 10vh 0 0 2rem;
    pointer-events: none;

    @include respond(tab-port) { 
        width: 95%;
        height: 70vh;
        margin: 3rem auto;
        padding: 0 3rem 1rem;
    }
    @include respond(phone) { 
        height: 60vh;
        margin: 3rem auto;
    }
}