.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    @include respond(tab-port) { 
        display: inline-block;
    }
}
.overview {
    width: 70%;
    height: 80vh;
    margin: 10vh 0 0 2rem;

    @include respond(tab-port) { 
        width: 95%;
        height: 70vh;
        margin: 3rem auto;
    }
    @include respond(phone) { 
        height: 60vh;
        margin: 3rem auto;
    }
}