.aboutme {
    width: 100%;
    height: 100%;
    background-color: $component-secondary;
    pointer-events: auto;
    position: relative;
    @include border($about-primary, 1.8rem);
        
    
    &__content {
        padding: 1.7rem;
        height: 100%;
    }
    &__heading {
        color: $component-secondary;
        transform: translate(0, -5.8rem);
        position: absolute;
        font-family: "PixelifySans";
        font-size: 2rem;
    }
    &__photo {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr minmax(1fr, 2fr) 1fr;
        height: 100%;
        width: 100%;
        border: 2px solid $about-primary;
    }
    &__section:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        padding-bottom: calc(9/16 * 100%);
      }
    &__section {
        background-color: $component-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid $about-primary;

        &__heading {
            padding: 0 1rem;
            color: $color-grey-dark-3;
            font-size: 2rem;
            font-weight: 700;
        }

        &__card {
            position: relative;
            height: 100%;
            width: 100%;
            perspective: 300rem;
            -moz-perspective: 300rem;

            &:hover &__side--front {
                transform: rotateY(-180deg);
            }
            &:hover &__side--back {
                transform: rotateY(0);
            }

            &__side {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: hidden;
    
                transition: all 1s ease;
    
                &--front {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;
                    overflow: hidden;
    
                }
    
                &--back {
                    background-color: $about-primary;
                    transform: rotateY(180deg);
    
                    &__body {
                        font-size: 2.5rem;
                        color: $component-secondary;
                        display: flex;
                        flex-direction: column;

                        & div {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            text-align: left;
                            & ul {
                                font-size: 2rem;
                                list-style-type: square;
                                padding: 1rem 0 0 3rem;
                            }
                            & .books {
                                font-size: 1.8rem;
                                list-style-type: square;
                                padding: 1rem 0 0 3rem;
                                & h3 {
                                    font-size: 1rem;
                                }
                            }

                        }
    
                    }
                }
            }
        }

    }

}

@include respond(tab-land) { 
    .aboutme {
        &__section {
            &__card {
                &__side {
                    &--back {
                        &__body {
                            & h3 {
                                font-size: 2rem;
                            }
                            & div {
                                & ul {
                                    font-size: 1.5rem;
                                    padding: 0.5rem 0 0 3rem;
                                }
                                & .books {
                                    font-size: 1.3rem;
                                    padding: 0 0 0 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond(tab-port) { 
    .aboutme {
        &__section {
            &__heading {
                font-size: 1.5rem;
            }
        }
    }
}            
@include respond(phone) { 
    .aboutme {
        &__section {
            &__heading {
                font-size: 1.3rem;
            }
        }
    }
}