.aboutme {
    width: 100%;
    height: 100%;
    background-color: $color-light-green;
    box-shadow:
        inset #0f2b0b 0 0 0 7px, /*5*/
        inset #164010 0 0 0 8px, /*1*/
        inset #1d5416 0 0 0 13px, /*10*/
        inset #24681b 0 0 0 15px, /*11*/
        inset #39a52b 0 0 0 22px, /*16*/
        inset #2b7c20 0 0 0 23px, /*17*/
        inset #caf0c6 0 0 0 30px, /*21*/
        inset #a5e59d 0 0 0 31px;/*22*/
    
    &__content {
        padding: 4rem;
        height: 100%;
    }
    &__heading {
        color: $color-light-green;
        transform: translate(-4rem, -6rem);
        position: absolute;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
    }
    &__section {
        text-align: center;

        &__heading {
            padding: 25% 10%;
        }

    }
    &__section1 {
        
    }
    &__section2 {
        
    }
    &__section3 {
        
    }
    &__section4 {
        
    }
    &__section5 {
        
    }
    &__section6 {
        
    }
    &__section7 {
        
    }
    &__section8 {
        
    }
    &__section9 {
        
    }

}
