.gameoflife {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;
    background-color: $color-primary;

    #gridContainer {
        width: 100%;
        height: 90%;
    }
    
    table {
        background-color: $color-primary;
        border-spacing: 0;
    }
    
    td {
        box-sizing: border-box;
        border: 1px solid $color-grey-dark-2;
        width: 10px;
        height: 10px;
    }
    
    span {
        color: #222;
    }
    
    #start,
    #clear,
    #random {
        position: relative;
        right: 0;
    }
    
    td.dead {
        background-color: transparent;
    }
    
    td.live {
        background-color: #CC4774;
        border-radius: 10px;
    }
}
