.projects {
    width: 100%;
    height: 100%;
    background-color: $component-secondary;
    pointer-events: auto;
    position: relative;
    @include border($projects-primary, 1.8rem);
    
    &__content {
        display: grid;
        transition: 300ms;
        grid-template-columns: 1fr 0fr 1fr;
        width: 100%;
        height: 100%;

        &__opened {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &__closed {
            grid-template-columns: 1fr 0fr 1fr;
        }
        &__items {
            position: relative;
            margin: 1.8rem;
            border: 2px solid $projects-primary;
            display: flex;
            flex-direction: column;
            text-align: center;
            background: repeating-linear-gradient(
                45deg,
                $projects-primary,
                $projects-primary 2px,
                $color-grey-light-2 2px,
                $color-grey-light-2 6px
            );

            &__opened h2 {
                font-size: 3rem;
            }
            &__opened &__project:hover h2 {
                font-size: 3.3rem;
            }
            &__opened &__tech {
                display: none;
            }

            &__project {
                height: 25%;
                border: 1px solid $projects-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                transition: all 0.1s ease;
                background-color: $component-secondary;

                &:hover {
                    transform: translateY(-0.35rem) translateX(0.35rem);
                    background-color: $color-grey-light-1;
                    cursor: pointer;
                    & h2 {
                        font-size: 4.3rem;
                    }
                    & h3 {
                        font-size: 2.1rem;
                    }
                }
            }

            &__right &__project:hover {
                transform: translateY(-0.35rem) translateX(-0.35rem);
            }

            &__title {
                font-size: 4rem;
                font-weight: 800;
                transition: 300ms;
            }
            &__tech {
                font-size: 2rem;
                transition: 300ms;
            }
            
        }
        &__desc {
            text-align: center;
            position: relative;
            height: 100%;
            width: 100%;
            &__header {
                margin-top: 2rem;
                font-size: 6rem;
                font-weight: 700;
            }
            &__tech {
                font-size: 2rem;
            }
            &__desc {
                font-size: 2rem;
                margin: 3rem;
            }
            &__git {
                font-size: 2rem;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin: 0 0 1rem;
                transform: translate(-50%, -50%);
                &__label {
                }
                &__link {
                    background-image: linear-gradient(
                        to right,
                        $projects-primary,
                        $projects-primary 50%,
                        #000 50%
                    );
                    background-size: 200% 100%;
                    background-position: -100%;
                    display: inline-block;
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease-in-out;

                    &:before{
                        content: '';
                        background: $projects-primary;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        background-position: 0;
                    }
                    
                    &:hover::before{
                        width: 100%;
                    }
                }
                
            }
        }
        &__middle {
            //border: 2px solid black;
        }
    }
}