.projects {
    width: 100%;
    height: 100%;
    background-color: $color-light-purple;
    box-shadow:
        inset #270b2b 0 0 0 7px, /*5*/
        inset #3a1040 0 0 0 8px, /*1*/
        inset #4d1654 0 0 0 13px, /*10*/
        inset #5f1b68 0 0 0 15px, /*11*/
        inset #972ba5 0 0 0 22px, /*16*/
        inset #71207c 0 0 0 23px, /*17*/
        inset #ecc6f0 0 0 0 30px, /*21*/
        inset #dd9de5 0 0 0 31px;/*22*/
    
    &__content {
        padding: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        font-size: 1.55rem;
        @include respond(tab-land) { 
            font-size: 1.4rem;
        }
        @include respond(tab-port) { 
            font-size: 1.3rem;
        }
        @include respond(phone) { 
            grid-template-columns: 3fr 2fr;
        }

    }

    &__title {
        @include respond(phone) { 
            font-size: 1.4rem;
        }
    }

    &__heading {
        color: $color-light-purple;
        transform: translate(-4rem, -6.5rem);
        position: absolute;
        font-family: "PixelifySans";
        font-size: 2rem;
    }

    &__tech {
        border: 1px solid $color-grey-dark-2;
        background-color: #ecc6f0;
        margin-right: 2rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-left: 1rem;
    }

    &__projects {
        border-right: 1rem solid #972ba5;
    }
    &__project {
        border-left: 1px solid #ecc6f0;
        padding-left: .5rem;
    }

    &__research {
        padding-left: 1.5rem;
    }

    &__description {
        list-style-type: none;
        margin-bottom: 2rem;
        margin-right: 1rem;
        padding-left: 2rem;
        @include respond(tab-port) { 
            margin-bottom: .5rem;
        }

    }

    &__webscraper {
        overflow: hidden;
        height: 100%;
        position: relative;
        margin-left: 1rem;
        font-size: 2rem;
        @include respond(tab-port) { 
            font-size: 1.5rem;
        }

        &__button {
            background-color: transparent;
            border: 2px solid #1A1A1A;
            color: #3B3B3B;
            cursor: pointer;
            font-weight: 600;
            padding: 1rem 2rem;
            text-align: center;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            width: 100%;
            min-height: 6rem;
        }

        &__title {
            @include respond(phone) { 
                font-size: 2rem;
            }

        }
        &__subtitle {
            @include respond(phone) { 
                font-size: 1.5rem;
            }
            
        }
        &__description {
            font-weight: 400;
            padding: 2rem 0 0 2rem;
            @include respond(phone) { 
                padding: 1rem 0 0 1rem;
                font-size: 1.3rem;
            }

            &.hidden {
                height: 0;
                width: 0;
                overflow: hidden;
            }
            
        }

        &__button:hover {
            color: #fff;
            background-color: #1A1A1A;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        }

        &__button:active {
            box-shadow: none;
        }

        &__phase {
            width: 100%;
            position: absolute;

            &.active {
                top: 10rem;
            }
        }
        
        &__phase1 {
            bottom: 12.2rem;
            @include respond(tab-port) { 
                bottom: 14rem;
            }
            @include respond(phone) { 
                bottom: 30%;
            }
        }
        &__phase2 {
            bottom: 6.1rem;
            @include respond(tab-port) { 
                bottom: 7rem;
            }
            @include respond(phone) { 
                bottom: 15%;
            }
        }
        &__phase3 {
            bottom: 0%;

        }

        &__list {
            margin-left: 2rem;

            &.hidden {
                height: 0;
                width: 0;
                overflow: hidden;
            }
        }
    }

}