.projects {
    width: 100%;
    height: 100%;
    background-color: $color-light-purple;
    box-shadow:
        inset #270b2b 0 0 0 7px, /*5*/
        inset #3a1040 0 0 0 8px, /*1*/
        inset #4d1654 0 0 0 13px, /*10*/
        inset #5f1b68 0 0 0 15px, /*11*/
        inset #972ba5 0 0 0 22px, /*16*/
        inset #71207c 0 0 0 23px, /*17*/
        inset #ecc6f0 0 0 0 30px, /*21*/
        inset #dd9de5 0 0 0 31px;/*22*/
    
    &__content {
        padding: 4rem;

    }

    &__heading {

    }

    &__desc-container {

    }

    &__description {

    }

}
