.workhistory {
    width: 100%;
    height: 100%;
    background-color: $component-secondary;
    pointer-events: auto;
    position: relative;
    @include border($work-primary, 1.8rem);
    
    &__content {
        padding: 1.6rem;
        height: 100%;
        font-size: 1.7rem;
        @include respond(tab-land) { 
            font-size: 1.4rem;
        }
        @include respond(tab-port) { 
            font-size: 1.3rem;
        }

    }

    &__heading {
        color: $component-secondary;
        transform: translate(0, -5.8rem);
        position: absolute;
        font-family: "PixelifySans";
        font-size: 2rem;

    }

    &__desc-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid $work-primary;
    }

    &__job {
        --duration1: 2.5s;
        --duration2: calc(var(--duration1) / 2);
        --delay1: calc(var(--duration2) / 2);
        --delay2: calc(var(--duration2) + var(--delay1));
        --easing: cubic-bezier(0.65, 0.05, 0.36, 1);
        overflow: hidden;
        position: relative;
        border: 1px solid $work-primary;
        height: (1/3)*100%;

        &__title {
            text-align: center;
            font-size: 3rem;

            @include respond(phone) { 
                font-size: 1.5rem;
            }

            &__opened {
                animation: loadTitle .8s cubic-bezier(.26,.69,.93,.99) forwards;

                @include respond(phone) { 
                    animation: none;
                    font-size: 1.2rem;
                }
            }
        }
        
        &-desc {
            transform: translateY(40%);
            border-radius: 2rem;
            padding: 1rem;
            margin: 0 1rem;
            height: 100%;

            h3 {
                border: .3rem solid black;
                border-bottom: none;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                display: inline-block;
                padding: 0 2rem;
                font-size: 1.8rem;
                background-color: $component-secondary;

                @include respond(phone) { 
                    font-size: 1.2rem;
                }
            }
            &__opened {
                animation: loadResp .8s cubic-bezier(.26,.69,.93,.99) forwards;
            }
            &__closed:hover {
                transform: translateY(39%);
            }
            &__list {
                display: flex;
                justify-content: space-between;
                border: .3rem solid black;
                background-color: $component-secondary;
                font-size: 2rem;
                font-weight: 600;
                height: 80%;

                @include respond(phone) { 
                    font-size: .8rem;
                }
            }

            & ul {
                padding: 0 4rem;
                @include respond(phone) { 
                    padding: 0 0 0 1.5rem;
                }
            }

            &__item {
                list-style-type: square;
                padding: .7rem 0;

                @include respond(phone) { 
                    padding: 0;
                }

                & ul {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 0 2rem;

                    @include respond(phone) { 
                        padding: 0 0 0 1rem;
                    }
                }
            }
        }

        &__stack {
            display: flex;
            position: absolute;
            top: 4rem;
            width: 100%;

            @include respond(phone) { 
                top: 2rem;
            }

            &__container {
                width: 50%;

                & div {
                    display: flex;
                    justify-content: space-around;
                }
            }
            & h3 {
                color: $color-grey-dark;
                font-size: 2rem;
                font-family: "PixelifySans";
                width: 100%;
                text-align: center;

                @include respond(phone) { 
                    font-size: 1rem;
                }
            }
            &__list {
                list-style-type: square;
                padding-left: 2rem;
                font-size: 1.7rem;

                @include respond(phone) { 
                    font-size: .9rem;
                }
            }
        }
        @keyframes loadTitle {
            0% {
                font-size: 3rem;
            }
            100% {
                font-size: 1.7rem;
            }
        }    
        @keyframes loadResp {
            0% {
                transform: translateY(40%);
            }
            100% {
                transform: translateY(-15%);
            }
        }  
    }
}
