.workhistory {
    width: 100%;
    height: 100%;
    background-color: $color-light-blue;
    pointer-events: auto;
    position: relative;
    @include border(black, 1.8rem);
    
    &__content {
        padding: 1.6rem;
        height: 100%;
        font-size: 1.7rem;
        @include respond(tab-land) { 
            font-size: 1.4rem;
        }
        @include respond(tab-land) { 
            font-size: 1.3rem;
        }

    }

    &__heading {
        color: $color-light-blue;
        transform: translate(0, -5.8rem);
        position: absolute;
        font-family: "PixelifySans";
        font-size: 2rem;

    }
    &__technologies {
        grid-area: technologies;
        background-color: #9da5e5;
        border: 3px solid #161d54;

        &__text {
            position: absolute;
            transform: translateX(-35%) translateY(120%) rotate(-90deg);
            font-size: 3.5rem;
            @include respond(tab-port) { 
                transform: translateX(-40%) translateY(120%) rotate(-90deg);
                font-size: 2.5rem;
            }
            @include respond(phone) { 
                transform: translateX(-45%) translateY(120%) rotate(-90deg);
                font-size: 2.5rem;
            }
        }
    }

    &__title {
        @include respond(phone) { 
            font-size: 1.5rem;
        }
    }

    &__job-desc {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &__item {

        }
    }
    &__stacklist {
        padding-left: 1.5rem;
        list-style-type: none;

        &__item {

        }
    }

    &__desc-container {
        height: 100%;
        display: grid;
        grid-template-areas:    "job1 technologies job1-stack"
                                "job2 technologies job2-stack"
                                "job3 technologies job3-stack";
        grid-template-columns: 8fr 0.5fr 2fr;
        @include respond(phone) { 
            grid-template-columns: 6fr 0.5fr 2fr;
        }

    }

    &__job1 {
        grid-area: job1;
    }
    &__job2 {
        grid-area: job2;
    }
    &__job3 {
        grid-area: job3;
    }
    &__job1-stack {
        grid-area: job1-stack;
    }
    &__job2-stack {
        grid-area: job2-stack;
    }
    &__job3-stack {
        grid-area: job3-stack;
    }
}
